# AI
.ai

# nushell history
dotfiles/.config/nushell/history.sqlite3*

# zsh
dotfiles/.config/zsh/.zcompdump*

# alacritty
dotfiles/.config/alacritty/themes

# dotter
dotfiles/.dotter/cache.toml
dotfiles/.dotter/local.toml

# tmux
dotfiles/.config/tmux/plugins

# yazi
dotfiles/.config/yazi/flavors
dotfiles/.config/yazi/plugins
