# AI
.ai

# alacritty
dotfiles/.config/alacritty/themes

# dotter
dotfiles/.dotter/cache.toml
dotfiles/.dotter/local.toml

# tmux
dotfiles/.config/tmux/plugins

# yazi
dotfiles/.config/yazi/flavors
dotfiles/.config/yazi/plugins
